@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/*---Typography---*/
.titlesplash {
    font-size: 2.5em;
    color: rgb(253, 176, 0);
    margin-top: 1em;
    width: auto;
    
}
.titlesplash span{
    font-weight: 300;
    display: block;
    font-size: .9em;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
    margin-top: 0;
}
.clearfix::after,
section::after {
    content: '';
    display: block;
    clear: both;
}
/*---Button---*/
.button {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.55em ;
}
.button-small {
    font-size: .8rem;
    font-weight: 700;
}
.button-accent {
    color: rgb(253, 176, 0);
    border-color: rgb(253, 176, 0);
}
.button-accent:hover, .button-accent:focus {
    background: rgba(214, 160, 37, 0.37);
    color:rgb(255, 177, 0);
}
p {
    margin-top: 0;
    line-height: 1.5;
}
p:last-of-type {
    margin-bottom: 0;
}
/*---Header---*/
header {
    margin-top: 1em;
    position: absolute;
    left: 0;
    right: 0;
}
.logo {
    height: 8.5em;
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 0;
}
nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    padding: .5em;
    margin: 1em;
    color: rgb(255, 177, 0);
}
nav a:hover, nav a:focus {
    color: rgb(245, 215, 146);
}
/*---Home Splash---*/
.homesplash {
    background: linear-gradient(
      rgba(21, 20, 20, 0.9), 
      rgba(82, 52, 22, 0.56)
    ), url(/img/photostudio.jpg);
    background-size: cover;
   padding: 10.2em 2em;

}

/*---FOR MOBIlE---*/
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 95%;
    max-width: 75em;
    margin: 0 auto;

}
.home-about-textbox {
    background: #232323;
    padding: 3em;
    width: 100vw;
    outline: 2px solid rgb(253, 176, 0);
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
    
}
.home-about-textbox h1 {
    color: rgb(253, 176, 0);
    position: absolute;
    top:1.3em;
    background: #232323;
    padding: 0 0.25em 0 0.25em;
   
     left: 50%;
    transform: translateX(-50%);
    
    
}

@media (min-width: 17.5em){
    h1 {
        font-size: 1.34em;
    }
    .home-about-textbox{
        padding: 4em;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (min-width: 60em)
{
    .logo {
        float: left;
        margin-left: 1.2em;
    }
    nav {
        float: right;
        margin: 1em;     
    }
    .homesplash {
        height: 100vh;
        padding-top: 35vh;
        background-position: center;
    }
    .button {
        font-size: 1.5em;
    }
    h1 {
        font-size: 1.51em;
    }
    .home-about {
        background-image: url(/img/second-column-photo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 10em;           
    }
    .home-about-textbox{
        width: 40%;
        margin-left: -1.5em;
        top: -5em;
        padding: 5em;
        outline-offset: -3em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .50);
        left: 0%;
        transform: translateX(0);

    }
    .home-about-textbox h1{
        top: 1.2em;
        left: 9rem;
    }
}

/*---PORTFOLIO---*/
.portfolio-one-half {
   margin: 3em 0 0;
}
.port-items {
    margin: 0;
    position: relative;
    }
.port-items img {
    display: block;
}
.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0,0,0,.60);
    padding-bottom: 2em;
}
.port-desc p{
    margin: 1em;
}
.cta {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.9), 
      rgba(82, 52, 22, 0.56)
    ), url(/img/photo-bottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em;
}

@media (min-width: 37em) {
    .port-items {
        width: 50%;
        float: left;
    }
}
@media (min-width: 60em) {
    .port-items {
        width: 33.3333334%;
        overflow: hidden;
    }
    .port-desc {
        transform: translateY(150%);
    }
    .port-items:hover .port-desc {
        transform: translateY(0%);
    }
}

